* {
    /*border: dotted red 2px;*/
    box-sizing: border-box;
}

.game-dot-empty {
    width: 10px;
    height: 10px;
    background-color: darkgrey;
    border-radius: 5%;
}

#game-container {
    background-color: azure;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 100px;
    height: 100px;
}